body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  background: linear-gradient(180deg, #4caf50 0%, #ffffff 80%);
  background-attachment: fixed;
  min-height: 100vh;
  margin: 0;
}
.logo-div {
  display: flex;
  flex-direction: wrap;
  justify-content: center;
  row-gap: -20px;
}
.container {
  margin-top: -50px;
}
.facebook {
  justify-content: end;
  width: 40px;
  height: 30px;
  margin: 0px 3px 0 auto;
  padding-left: 10px;
}
.youtube {
  justify-content: end;
  width: 30px;
  height: 20px;
  margin: 0px 3px 0 auto;
  padding-left: 10px;
}
.deped {
  justify-content: end;
  margin: 0 auto;
  width: 150px;
  height: 140px;
  margin: 20px 50px 50px auto;
}
.foot-er {
  display: flex;
  justify-content: center;
  margin-top: 50px;
  gap: 15px;
}

.logos {
  justify-content: start;
  margin: 0 auto;
  width: 150px;
  height: auto;
  margin: -70px auto 50px 50px;
}
#feel {
  margin-top: 10px;
  margin-bottom: 20px !important;
}

.mood-grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 50px;
  gap: 15px;
}

.mood-card {
  background: white;
  border: none;
  border-radius: 12px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  padding: 20px 30px;
  font-size: 1.2rem;
  cursor: pointer;
  transition: 0.3s;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.mood-card:hover {
  transform: scale(1.5);
  transition: 0;
  background: #dddada;
}
.tropical {
  background: linear-gradient(180deg, #ece9e9 0%, #45e299 80%);
}
.emoji {
  font-size: 2rem;
  margin-bottom: 8px;
}

.form-container {
  max-width: 400px;
  margin: -70px auto 0 auto;
  background: white;
  padding: 25px;
  border-radius: 12px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.form-title {
  text-align: center;
  font-size: 1.5rem;
  margin-bottom: 20px;
}
#Alogin {
  background-color: #e9f7ef;
  padding-top: 0px;
  margin-top: 0px;
}
.mood-form label {
  display: block;
  margin-bottom: 15px;
  font-weight: 500;
}
.header {
  color: #0c0d10;
  text-align: end;
}

.mood-form input,
.mood-form textarea {
  width: 100%;
  padding: 10px;
  margin-top: 5px;
  border-radius: 8px;
  border: 1px solid #ccc;
  font-size: 1rem;
  box-sizing: border-box;
}

.mood-form input:focus,
.mood-form textarea:focus {
  outline: none;
  border-color: #3b82f6;
  box-shadow: 0 0 0 2px rgba(59, 130, 246, 0.2);
}

.submit-btn {
  width: 100%;
  background: #3b82f6;
  color: white;
  font-weight: bold;
  padding: 10px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: background 0.3s;
}

.submit-btn:hover {
  background: #2563eb;
}

.back-btn {
  display: inline-block;
  background: none;
  border: none;
  color: #2563eb;
  font-weight: bold;
  font-size: 1rem;
  cursor: pointer;
  margin-bottom: 15px;
  transition: color 0.2s;
}

.back-btn:hover {
  color: #1d4ed8;
  text-decoration: underline;
}
.p-0 {
  color: #ffffff;
}
.fw-bold text-primary {
  color: #ffffff;
}
